


   
.e{ 
    height: 250px;
    width: 50%;
    float: left;
      
}


.f{  height: 250px;
        float:left;
 width: 50%;
    
    border-style: solid;

}

.g{
       height: 250px;
    width: 50%;
      float: left;
      
}

      .h{ 
          float:left; 
                 height: 250px;
       width: 50%;
        
  
        }