


   
.e{ 
    height: 250px;
    width: 50%;
    float: left;
      border: black;
      border-style: solid;}


.f{  height: 250px;
        float:left;
 width: 50%;
    border: black;
    border-style: solid;

}

.g{
       height: 250px;
    width: 50%;
      float: left;
      border: black;
      border-style: solid;}

      .h{ 
          float:left; 
                 height: 250px;
       width: 50%;
        border: black;
        border-style: solid;
        }