.e{
    background-color: #d7c7c7;
}
.g{
    background-color: #439393;
}
.h{
    background-color: #7777d0;
}
.f{
    background-color: #dddd2e;
}
.footer{
    background-color: #9d1a7e;

}