@import url('layout.css');
@import url('state.css');


 body{width: 480px;
height:767px ;
text-align: center;
border: black;
border-style: solid;
border-collapse: collapse;
margin :auto
}

.first {width: 480px;
height: 150px;
border: black;
border-style: solid;}

.same {width: 480px;
    height: 125px;
    border: black;
    border-style: solid;}

    
       .basic {
          width: 480px;
          max-height: 500px;
          margin: auto;
       }

    .one {
        width: 100%;
        margin: auto;
    }  

.two{
    width: 100%;
    margin: auto;
}

.e{ 
    height: 250px;
    width: 50%;
    float: left;
      border: black;
      border-style: solid;}


.f{  height: 250px;
        float:left;
 width: 50%;
    border: black;
    border-style: solid;

}

.g{
       height: 250px;
    width: 50%;
      float: left;
      border: black;
      border-style: solid;}

      .h{ 
          float:left; 
                 height: 250px;
       width: 50%;
        border: black;
        border-style: solid;
        }


div {  background-color:  rgb(74, 104, 105);}



    .footer {width:478px;
        clear: both;
    height: 80px;
    border: black;
    border-style: solid;}

    .header {width: 478px;
        height: 75px;
        border: black;
        border-style: solid;}

div {border-collapse: collapse;
border-width: .2px;}

*{box-sizing: border-box;}




