
@import url('layout.css'); 
@import url('state.css');
@import url('module.css');

body{width: 480px;
/*height:767px ;*/
text-align: center;

}
.main {background-color: blanchedalmond;}


*{box-sizing: border-box;}



div {  background-color:  rgb(74, 104, 105);}




div {border-collapse: collapse;
}


