/* main {background-color: rgb(132, 156, 167);} */

body{width: 480px;
height:767px ;
text-align: center;
border: black;
border-style: solid;
border-collapse: collapse;
}

.first {width: 480px;
height: 150px;
border: black;
border-style: solid;}

.same {width: 480px;
    height: 125px;
    border: black;
    border-style: solid;}

    /* section {max-height: 500px;} */
   /* div { height: 250px;
    width: 240px;
    border: black;
    border-style: solid;} */

    /* .f,.h {width: 50%;
        float: right;}
        .e,.g{ overflow:auto;
       } */
      
.e{ height: 250px;
    width: 240px;
    /* display: inline-block; */
      /* float: left; */
      background-color: cadetblue;
      border: black;
      border-style: solid;}


.f{  height: 250px;
    /* display: inline-block; */
    float: right;
  width: 240px;
    border: black;
    border-style: solid;
    /* clear: left; */
    background-color: cadetblue;
}

.g{
     clear: both;
    height: 250px;
    width: 240px;
      float: left;
      background-color: cadetblue;
      border: black;
      border-style: solid;}

      .h{ 
          float: right; 
        /* display: inline-block; */
           height: 250px;
       width: 240px;
        border: black;
        border-style: solid;
        clear: both;
        background-color: cadetblue;
    }
/* .e,.f,.g,.h {
              display: inline-block;

} */

div {  background-color: cadetblue;}

/* .clear{clear: both;} */

     
/* .g {
    float: right;
    display: block;
   }


    .h{
        float: left;
    display: block;
} */


/* .clear{clear: both;}  */



    .footer {width:478px;
        clear: both;
    height: 80px;
    border: black;
    border-style: solid;}

    .header {width: 478px;
        height: 75px;
        border: black;
        border-style: solid;}

div {border-collapse: collapse;
border-width: .2px;}



@media all and (min-width: 768px){

 @import url('./css/state.css');    
}